@import "mixin";

$ws-datepicker-width: 587px; // is divisible with 7
$ws-datepicker-active-blue : #00A9EC;
$ws-datepicker-hover-grey: #EEEEEE;
$ws-datepicker-notinrange: #E3EBEE;
$ws-datepicker-date-proportion: 74 / 84;
$ws-chevron-height: 30%; // Use this number to calculate the portion in a container
$ws-chevron-side: $ws-chevron-height / 2;
$ws-table-head-height: 80px;
$ws-chevron-width: 2px;
$ws-chevron-color: $ws-datepicker-active-blue;
$ws-chevron-offset: $ws-chevron-side / $ws-chevron-height;

// proportion in day view 84 /74

body {
  background-color: lightblue;
}



.datepicker {
  width: $ws-datepicker-width;
  border-radius: 0px;
  border-top: 1px solid #E3EBEE !important;
}

.datepicker-dropdown {
  padding: 0px;
}

.dropdown-menu {
  @include ws-chevron-box-shadow();
  border: none;
}

.datepicker>div {
  //width: 100%;
  width: $ws-datepicker-width;
}

.datepicker > div > table {
  width: 100%;
}

.datepicker table thead tr th {
    height: $ws-table-head-height;

}

.datepicker>div>table>tbody>tr>td>span {
  width: 25%;
  min-height: 149px;
  line-height: 149px;
  margin: 0px;
  position: relative;
  //margin-right: 1px;
  //margin-bottom: 1px;
  background-color: white;
  border-radius: 0px;
  border-color: #E3EBEE;
  border-right: 1px solid #E3EBEE;
  border-top: 1px solid #E3EBEE;
  display:table-cell;
  vertical-align:middle;
}


//TODO: nth-child is not supported on all the browsers
.datepicker>div>table>tbody>tr>td>span:nth-child(4),
.datepicker>div>table>tbody>tr>td>span:nth-child(8),
.datepicker>div>table>tbody>tr>td>span:nth-child(12),
.datepicker>div>table>tbody>tr>td>span:nth-child(16){
  border-right: 0px;
}

.datepicker table tr td span.active.active {
  color: $ws-datepicker-active-blue;
  background-color: #FFF;
  border: none;
}

.datepicker table tr td span.active.active:hover {
  background-color: #FFF;
  color: inherit;
}

.datepicker table tr td span.active.active:before {
  content: '';
  /* display: none; */
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border: 2px solid $ws-datepicker-active-blue;
}

.datepicker table tr td span:hover {
  background-color: $ws-datepicker-hover-grey;
}

.datepicker table tr td span.active {
  background-color: #FFF;
  border: none;
}

.datepicker-days table tr td {
  width: (100% / 7); // 100/7 = %14.285714285%;
  height: $ws-datepicker-width / 7 * $ws-datepicker-date-proportion;
  line-height: $ws-datepicker-width / 7 * $ws-datepicker-date-proportion;// 0.88095238;
  vertical-align: middle;
  border-radius: 0px;
  margin: 0px;
  /*
  margin-right: 1px;
  margin-bottom: 1px;
  */
  border: 1px solid #E3EBEE;
  background-color: #FFF;
  position: relative;
}

.datepicker-days table tr td:nth-child(7) {
  border-right: 0px;
}

.datepicker table tr td:hover {
  background-color: $ws-datepicker-hover-grey;
}

.datepicker table tr td.active.active {
  background-color: #FFF;
  border: none;
  color: $ws-datepicker-active-blue;
}

.datepicker table tr td.active.active:hover {
  background-color: transparent;
  color: $ws-datepicker-active-blue;
}

.datepicker table tr td.active.active:before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border: 2px solid $ws-datepicker-active-blue;
}

th { font-weight: normal; }


.table-condensed>tbody>tr>td {
  padding: 0px;
}


.datepicker>div>table>tbody {

}

.datepicker table tr td span.old, .datepicker table tr td span.new {
  background-color: $ws-datepicker-notinrange;
  border-color: $ws-datepicker-notinrange;
}

.chevron {
  position: relative;
  //width: $ws-datepicker-width / 7 !important;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 50% - $ws-chevron-side;
  //right: $ws-chevron-offset;

  height: $ws-chevron-side;
  width: $ws-chevron-width;
  background: $ws-chevron-color;
}



.chevron.prev:before, .chevron.prev:after {
  left: 25px;
}

.chevron.next:after, .chevron.next:before {
  right: 25px;
}

.chevron.left:before, .chevron.right:after {
  @include ws-skew(-45deg);
}

.chevron.right:before, .chevron.left:after {
  @include ws-skew(45deg);
}



.chevron:after {
  content: '';
  position: absolute;
  bottom: 50% - $ws-chevron-side;
  //right: $ws-chevron-offset;
  height: $ws-chevron-side;
  width: $ws-chevron-width;
  background: $ws-chevron-color;
  //@include ws-skew(45deg);
}



.chevron {
  width: $ws-datepicker-width / 7;
}


.datepicker-dropdown.datepicker-orient-bottom:after {
  top: -9px;
}

.datepicker-dropdown:after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.datepicker-dropdown.datepicker-orient-bottom:before {
  top: -10px;
}

.datepicker-dropdown:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}