@import "mixin";

$ws-datepicker-width: 587px; // is divisible with 7
$ws-datepicker-active-blue : #00A9EC;
$ws-datepicker-hover-grey: #EEEEEE;
$ws-datepicker-notinrange: #E3EBEE;
$ws-datepicker-date-proportion: 74 / 84;
$ws-chevron-height: 30%; // Use this number to calculate the portion in a container
$ws-chevron-side: $ws-chevron-height / 2;
$ws-table-head-height: 80px;
$ws-chevron-width: 2px;
$ws-chevron-color: $ws-datepicker-active-blue;
$ws-chevron-offset: $ws-chevron-side / $ws-chevron-height;

// proportion in day view 84 /74

body {
  background-color: lightblue;
}

th { font-weight: normal; }

.datepicker {
  width: $ws-datepicker-width;
  border-radius: 0px;
  border-top: 1px solid #E3EBEE !important;
  margin-top: 20px; //lower the container

  &>div {
    width: $ws-datepicker-width;
  }

  &>div>table {
    width: 100%;
  }

  & table thead tr th {
    height: $ws-table-head-height;
  }

  &>div>table>tbody>tr>td>span {
    width: 25%;
    min-height: 149px;
    line-height: 149px;
    margin: 0px;
    position: relative;
    background-color: white;
    border-radius: 0px;
    border-color: #E3EBEE;
    border-right: 1px solid #E3EBEE;
    border-top: 1px solid #E3EBEE;
    display:table-cell;
    vertical-align:middle;
  }

  & table tr td span.old, & table tr td span.new {
    background-color: $ws-datepicker-notinrange;
    border-color: $ws-datepicker-notinrange;
  }

  & table tr td span.active.active {
    color: $ws-datepicker-active-blue;
    background-color: #FFF;
    border: none;
  }

  & table tr td span.active.active:hover {
    background-color: #FFF;
    color: $ws-datepicker-active-blue;
  }

  & table tr td span.active.active:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: 2px solid $ws-datepicker-active-blue;
  }

  & table tr td span:hover {
    background-color: $ws-datepicker-hover-grey;
  }

  & table tr td span.active {
    background-color: #FFF;
    border: none;
  }

  //TODO: nth-child is not supported on all browsers (use '+'?)
  &>div td>span:nth-child(4),
  &>div td>span:nth-child(8),
  &>div td>span:nth-child(12),
  &>div td>span:nth-child(16) {
    border-right: 0px;
  }

  & table tr td:hover {
    background-color: $ws-datepicker-hover-grey;
  }
  & table tr td.active.active {
    background-color: #FFF;
    border: none;
    color: $ws-datepicker-active-blue;
  }

  & table tr td.active.active:hover {
    background-color: transparent;
    color: $ws-datepicker-active-blue;
  }

  & table tr td.active.active:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: 2px solid $ws-datepicker-active-blue;
  }
  & .datepicker-switch:hover, & .prev:hover, & .next:hover {
    background-color: inherit;
  }


}

.datepicker-dropdown {
  padding: 0px;
}

.dropdown-menu {
  @include ws-chevron-box-shadow();
  border: none;
}


.datepicker-days {
  & table tr td {
    width: (100% / 7); // 100/7 = %14.285714285%;
    height: $ws-datepicker-width / 7 * $ws-datepicker-date-proportion;
    line-height: $ws-datepicker-width / 7 * $ws-datepicker-date-proportion; // 0.88095238;
    vertical-align: middle;
    border-radius: 0px;
    margin: 0px;
    border: 1px solid #E3EBEE;
    background-color: #FFF;
    position: relative;
  }

  & table tr td:nth-child(7) {
    border-right: 0px;
  }


}


.table-condensed>tbody>tr>td {
  padding: 0px;
}



.chevron-common {
  pointer-events: none; // don't want to catch events
  z-index: 1;
  content: '';
  position: absolute;
  height: $ws-chevron-side;
  width: $ws-chevron-width;
  background: $ws-chevron-color;
}


.datepicker-switch {
  z-index: 2;
}

  /**
   * CHEVRON
   **/
  .chevron {
    position: relative;
    width: $ws-datepicker-width / 7;
    z-index: 2;


    &:after {
      @extend .chevron-common;
      bottom: 50% - $ws-chevron-side;
    }

    &:before {
      @extend .chevron-common;
      top: 50% - $ws-chevron-side;
    }

    &.prev:before, &.prev:after {
      left: 25px;
    }

    &.next:after, &.next:before {
      right: 25px;
    }

    &.prev:before, &.next:after {
      @include ws-skew(-45deg);
    }

    &.next:before, &.prev:after {
      @include ws-skew(45deg);
    }
  }

  .datepicker-dropdown {

    &:after {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #fff;
    }

    &:before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ccc;
    }

    &.datepicker-orient-bottom:after {
      top: -9px;
    }

    &.datepicker-orient-bottom:before {
      top: -10px;
    }
  }

